/*@font-face {
    font-family: IRANSansX;
    font-style: normal;
    font-weight: 100;
    src: url('Font/IRANSansWeb/Woff2/IRANSansXFaNum-Thin.woff2') format('woff2'), url('Font/IRANSansWeb/Woff/IRANSansXFaNum-Thin.woff') format('woff'), url('Font/IRANSansWeb/ttf/IRANSansXFaNum-Thin.ttf') format('ttf');
}*/
/*@font-face {
    font-family: IRANSansX;
    font-style: normal;
    font-weight: 200;
    src: url('Font/IRANSansWeb/Woff2/IRANSansXFaNum-UltraLight.woff2') format('woff2'), url('Font/IRANSansWeb/Woff/IRANSansXFaNum-UltraLight.woff') format('woff'),url('Font/IRANSansWeb/ttf/IRANSansXFaNum-UltraLight.ttf') format('ttf');
}*/
@font-face {
  font-family: IRANSansX;
  font-style: normal;
  font-weight: 300;
  src: url("Font/IRANSansWeb/Woff2/IRANSansXFaNum-Light.woff2") format("woff2"), url("Font/IRANSansWeb/Woff/IRANSansXFaNum-Light.woff") format("woff"), url("Font/IRANSansWeb/ttf/IRANSansXFaNum-Light.ttf") format("ttf");
}
@font-face {
  font-family: IRANSansX;
  font-style: normal;
  font-weight: 500;
  src: url("Font/IRANSansWeb/Woff2/IRANSansXFaNum-Medium.woff2") format("woff2"), url("Font/IRANSansWeb/Woff/IRANSansXFaNum-Medium.woff") format("woff"), url("Font/IRANSansWeb/ttf/IRANSansXFaNum-Medium.ttf") format("ttf");
}
/*@font-face {
    font-family: IRANSansX;
    font-style: normal;
    font-weight: 600;
    src: url('Font/IRANSansWeb/Woff2/IRANSansXFaNum-DemiBold.woff2') format('woff2'), url('Font/IRANSansWeb/Woff/IRANSansXFaNum-DemiBold.woff') format('woff'), url('Font/IRANSansWeb/ttf/IRANSansXFaNum-DemiBold.ttf') format('ttf');
}*/
/*@font-face {
    font-family: IRANSansX;
    font-style: normal;
    font-weight: 800;
    src: url('Font/IRANSansWeb/Woff2/IRANSansXFaNum-ExtraBold.woff2') format('woff2'), url('Font/IRANSansWeb/Woff/IRANSansXFaNum-ExtraBold.woff') format('woff'), url('Font/IRANSansWeb/ttf/IRANSansXFaNum-ExtraBold.ttf') format('ttf');
}*/
@font-face {
  font-family: IRANSansX;
  font-style: normal;
  font-weight: 900;
  src: url("Font/IRANSansWeb/Woff2/IRANSansXFaNum-Black.woff2") format("woff2"), url("Font/IRANSansWeb/Woff/IRANSansXFaNum-Black.woff") format("woff"), url("Font/IRANSansWeb/ttf/IRANSansXFaNum-Black.ttf") format("ttf");
}
@font-face {
  font-family: IRANSansX;
  font-style: normal;
  font-weight: bold;
  src: url("Font/IRANSansWeb/Woff2/IRANSansXFaNum-Bold.woff2") format("woff2"), url("Font/IRANSansWeb/Woff/IRANSansXFaNum-Bold.woff") format("woff"), url("Font/IRANSansWeb/ttf/IRANSansXFaNum-Bold.ttf") format("ttf");
}
@font-face {
  font-family: IRANSansX;
  font-style: normal;
  font-weight: normal;
  src: url("Font/IRANSansWeb/Woff2/IRANSansXFaNum-Regular.woff2") format("woff2"), url("Font/IRANSansWeb/Woff/IRANSansXFaNum-Regular.woff") format("woff"), url("Font/IRANSansWeb/ttf/IRANSansXFaNum-Regular.ttf") format("ttf");
}
* {
  box-sizing: border-box;
}

body {
  background-color: #fafafa;
  margin: 0;
  padding: 0;
  font-family: iransansx;
}

html {
  scroll-behavior: smooth;
}

* {
  text-align: center;
}

.green {
  background-color: green;
  color: white;
}